@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.bg-modernize-bg {
    background-color: #0c5bc6;
  }

  .bg-border-bg{
    border-bottom:4px solid #0c5bc6;
  }

  .bg-newsletter-bg{
    background-color: #c6deff;
  }

  .bg-footer-bg{
    background-color: #f7f9ff;
  }
  .bg-card-bg{
    background-color:#0c5bc6;
  }